<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>{$title}</title>
		<link rel="stylesheet" href="{$rootUrl}/Public/pintuer.css">
		<link rel="stylesheet" href="{$rootUrl}/Public/admin.css">
		<script src="{$rootUrl}/Public/jquery.js"></script>
		<script src="{$rootUrl}/Public/pintuer.js"></script>
		<!--<script src="{$rootUrl}/Public/respond.js"></script>-->
		<script src="{$rootUrl}/Public/admin.js"></script>
		<link href="{$rootUrl}/Public/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
	    <script type="text/javascript" charset="utf-8" src="{$rootUrl}/Public/umeditor/umeditor.config.js"></script>
	    <script type="text/javascript" charset="utf-8" src="{$rootUrl}/Public/umeditor/umeditor.min.js"></script>
	    <script type="text/javascript" src="{$rootUrl}/Public/umeditor/lang/zh-cn/zh-cn.js"></script>
	</head>

	<body>
{include file="head.html"}

		<div class="admin">
			<h2 style="">{$mTitle}</h2>
			<hr>
			<hr class="space">
			<form class="form-x" onsubmit="return false">
				<div class="form-group">
					<div class="label">
						<label for="title">
							文章标题：</label>
					</div>
					<div class="field">
						<input type="text" class="input input-auto" id="title" name="title" size="30" data-validate="required:请选择文章类别" placeholder="请输入文章的标题" />
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label for="sort">
							文章类别：</label>
					</div>
					<div class="field">
						<select class="input input-auto" name="sort" id="sort" data-validate="required:请选择文章类别">
							<option value="">请选择</option>
							{foreach from=$sortList item=list}
							<option value="{$list[0]}">{$list[1]}</option>
							{/foreach}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label for="content">
							文章内容：</label>
					</div>
					<div class="field">
						<script type="text/plain" id="editor" style="width: 700px;height: 360px;"></script>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label for="keyword">
							文章关键字：</label>
					</div>
					<div class="field">
						<input type="text" class="input input-auto" id="keyword" name="keyword" size="30" data-validate="required:请输入文章关键字" placeholder="请输入关键字" />
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label for="description">
							文章说明：</label>
					</div>
					<div class="field">
						<textarea class="input" name="description" rows="5" cols="50" placeholder="请填写文章说明" data-validate="required:请填写文章说明"></textarea>
					</div>
				</div>
				<div class="form-button">
					<button class="button bg-main newsSub" data-toggle="{$toggle}">提交</button>
				</div>
			</form>
			<hr class="space">
		</div>

	    <script>
	    	var um = UM.getEditor('editor');
	    </script>
	</body>
</html>