<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>dfa</title>
		<script src="{$rootUrl}/Public/jquery.min.js"></script>
    	<script charset="utf-8" src="{$rootUrl}/Public/umeditor/umeditor.config.js"></script>
    	<script charset="utf-8" src="{$rootUrl}/Public/umeditor/umeditor.min.js"></script>
   		<script src="{$rootUrl}/Public/umeditor/lang/zh-cn/zh-cn.js"></script>
   		<script type="text/javascript">
        var um = UM.getEditor('editor');
    </script>
	</head>
	<body>
		<script type="text/plain" id="editor" style="width: 500px;height: 360px;"></script>
	</body>
</html>