<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>{$title}</title>
		<link rel="stylesheet" href="{$rootUrl}/Public/pintuer.css">
		<link rel="stylesheet" href="{$rootUrl}/Public/admin.css">
		<script src="{$rootUrl}/Public/jquery.js"></script>
		<script src="{$rootUrl}/Public/pintuer.js"></script>
		<!--<script src="{$rootUrl}/Public/respond.js"></script>-->
		<script src="{$rootUrl}/Public/admin.js"></script>
	</head>

	<body>
{include file="head.html"}

		<div class="admin">
			<div class="line-big">
				<div class="xm3">
					<div class="panel border-back">
						<div class="panel-body text-center">
							<img src="Public/face.jpg" width="120" class="radius-circle" />
							<br /> {$adminInfo.admin_name}
						</div>
					</div>
					<br />
					<div class="panel">
						<div class="panel-head"><strong>站点统计</strong></div>
						<ul class="list-group">
							<li><span class="float-right badge bg-red">{$indexInfo[1]}</span><span class="icon-user"></span> 会员</li>
							<li><span class="float-right badge bg-main">{$indexInfo[0]}</span><span class="icon-shopping-cart"></span> 订单</li>
							<li><span class="float-right badge bg-main">{$indexInfo[2]}</span><span class="icon-file-text"></span> 内容</li>
							<li><span class="float-right badge bg-main">{$indexInfo[3]}</span><span class="icon-file-text"></span> 防疫站</li>
						</ul>
					</div>
					<br />
				</div>
				<div class="xm9">
					<div class="alert alert-yellow" style="margin-bottom:20px;"><span class="close"></span><strong>注意：</strong>您有5条未读信息，<a href="#">点击查看</a>。</div>
					<div class="alert">
						<h4>预防接种系统介绍</h4>
						<p class="text-gray padding-top">预防接种系统是集防疫站为一体，进行统一审核管理的系统。手机客户端是基于APPCAN的手机混合应用，可一次生成安卓版本和IOS版本。减少了系统客户端的维护费用。</p>
					</div>
					<div class="panel" style="margin-top:20px;">
						<div class="panel-head"><strong>系统信息</strong></div>
						<table class="table">
							<tr>
								<th colspan="2">服务器信息</th>
							</tr>
							<tr>
								<td width="110" align="right">操作系统：</td>
								<td>{$systemType[0]}({$systemType[1]})</td>
							</tr>
							<tr>
								<td align="right">Web服务器：</td>
								<td>Apache</td>
							</tr>
							<tr>
								<td align="right">程序语言：</td>
								<td>PHP {$lanague}</td>
							</tr>
							<tr>
								<td align="right">数据库：</td>
								<td>MySQL{$mysqlType}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		</div>

	</body>

</html>