<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>{$title}</title>
		<link rel="stylesheet" href="{$rootUrl}/Public/pintuer.css">
		<link rel="stylesheet" href="{$rootUrl}/Public/admin.css">
		<script src="{$rootUrl}/Public/jquery.js"></script>
		<script src="{$rootUrl}/Public/pintuer.js"></script>
		<!--<script src="{$rootUrl}/Public/respond.js"></script>-->
		<script src="{$rootUrl}/Public/admin.js"></script>
	</head>

	<body>
{include file="head.html"}

		<div class="admin">
				<div class="panel admin-panel">
					<div class="panel-head"><strong>订单列表</strong></div>
					<div class="padding border-bottom">
						<!-- <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" /> -->
						<form method="get" class="form-inline form-auto" action="{$rootUrl}/index.php?a=o">
							<input type="hidden" name="a" value="o">
							<div class="form-group">
								<div class="label"><label for="orderNum">订单号：</label></div>
								<div class="field"><input type="text" class="input" name="orderNum" id="orderNum" value=""></div>
							</div>
							<div class="form-group">
								<div class="label"><label for="phone">手机号：</label></div>
								<div class="field"><input type="text" class="input" name="phone" id="phone" value=""/></div>
							</div>
							<div class="form-group">
								<div class="label"><label for="stationNum">防疫站编号：</label></div>
								<div class="field"><input type="text" class="input" name="stationNum" id="stationNum" value=""></div>
							</div>
							<div class="form-group">
								<div class="label"><label for="veroNum">疫苗编号：</label></div>
								<div class="field"><input type="text" class="input" name="veroNum" id="veroNum" value=""/></div>
							</div>
							<div class="form-button">
								<button class="button button-small">查询</button>
							</div>
						</form>
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<tr>
								<th><a href="javascript:void(0);">全选</a></th>
								<th>预约单号</th>
								<th>客户手机号</th>
								<th>防疫站编号</th>
								<th>疫苗编号</th>
								<th>预约时间</th>
								<th>创建时间</th>
								<th>订单状态</th>
								<th>操作</th>
							</tr>
							{foreach from=$orderList item=list}
							<tr>
								<td><input type="checkbox" name="id" id="id" value="{$list.record_id}"></td>
								<td><a href="javascript:void(0);"> {$list.order_num}</a></td>
								<td>{$list.user_phone}</td>
								<td>{$list.station_num}</td>
								<td>{$list.vero_num}</td>
								<td>{$list.order_time|date_format:'%Y-%m-%d'}</td>
								<td>{$list.create_time|date_format:'%Y-%m-%d'}</td>
								<td>
									{if $list.is_dealed eq 0}未使用
									{elseif $list.is_dealed eq 1}已使用
									{elseif $list.is_dealed eq 2}已过期
									{/if}
								</td>
								<td>
									<a href="{$rootUrl}/index.php?a=o&e=info&i={$list[0]}" class="button button-small border-green">编辑</a>
									<!-- <a href="javascript:void(0)" class="button button-small border-red orderdel">删除</a> -->
								</td>
							</tr>
							{/foreach}
						</table>
					</div>
					<div class="panel-foot text-center">
					{$pager}
					</div>
				</div>
		</div>
	</body>
</html>