<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>{$title}</title>
		<link rel="stylesheet" href="{$rootUrl}/Public/pintuer.css">
		<link rel="stylesheet" href="{$rootUrl}/Public/admin.css">
		<script src="{$rootUrl}/Public/jquery.js"></script>
		<script src="{$rootUrl}/Public/pintuer.js"></script>
		<!--<script src="{$rootUrl}/Public/respond.js"></script>-->
		<script src="{$rootUrl}/Public/admin.js"></script>
		<style>
		.piclist{
			margin-bottom: 15px;
			min-height: 50px;
		}
		.piclist li{
			display: inline-block;
			width: 200px;
			height: 220px;
			padding: 10px;
		}
		.piclist li img{
			max-width: 100%;
			max-height: 100%;
		}
		.cover{
			position: absolute;
			width:100%;
			height: 100%;
			z-index: 9999;
			background-color: #FFFFFF;
		}
		.coverImg{
			width: 50%;
			height: auto;
			padding: 20px;
			margin:auto;
			text-align: center;
			margin-top: 5%;
		}
		.coverHeader{
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 20px;
			background-color: #0099CC;
		}
		.coverHeader span{
			margin-right: 40px;
			cursor: pointer;
		}
		.coverImg img{
			max-width: 80%;
			max-height: 70%;
		}
		</style>
	</head>

	<body>
{include file="head.html"}

		<div class="admin">
			{if $stationInfo.station.station_status neq 2 and $adminInfo.admin_role eq 1 and $stationInfo.station neq null}
			<div class="panel">
				<div class="panel-head">
					<strong>审核操作：</strong>
					{if $stationInfo.station.station_status neq 1}
					<button class="button button-small bg-main stationPass" data-toggle="{$stationInfo.station.id}">审核通过</button>
					{/if}
					{if $stationInfo.station.station_status neq 3}
					<button class="button button-small bg-red stationFail" data-toggle="{$stationInfo.station.id}">审核失败</button>
					{/if}
				</div>
			</div>
			{/if}
			<div class="panel" style="margin-top:20px;">
				<div class="panel-head"><strong>防疫站详情</strong></div>
				{if $adminInfo.admin_role eq 1}
				<div class="padding border-bottom">
					<form class="form-inline input-auto" action="{$rootUrl}">
						<div class="form-group">
							<input type="hidden" name="a" value="st">
							<input type="hidden" name="e" value="sd">
							<div class="label"><label for="stationNum">防疫站编号：</label></div>
							<div class="field">
							<input type="text" name="stationNum" class="input" value="{if $paras.stationNum neq null}{$paras.stationNum}{else}{$stationInfo.station.station_num}{/if}" />
							</div>
						</div>
						<div class="form-button">
							<button class="button button-small">查询</button>	
						</div>
					</form>
				</div>
				{/if}
				<div class="panel-body" style="margin-bottom:20px;">
					<ul class="list-group">
					<li>
						<span style="width:20%;display:inline-block;"><strong>防疫站编号：</strong>{$stationInfo.station.station_num}</span>
						<span style="width:35%;display:inline-block;"><strong>防疫站名称：</strong>{$stationInfo.station.station_name}</span>
						<span style="width:20%;display:inline-block;"><strong>防疫站电话：</strong>{$stationInfo.station.station_phone}</span>
						<span style="width:20%;display:inline-block;"><strong>防疫站创建时间：</strong>{$stationInfo.station.create_time|date_format:'%Y-%m-%d'}</span>
					</li>
					<li>
					<div class="x6" style="max-height:20px;"><strong>防疫站地址：</strong>{$stationInfo.station.station_address}  <a href="" target="_blank" title="在地图上查看"><small>（在地图中查看）</small></a></div>
					<div class="x6"><strong>防疫站状态：</strong>
						{if $stationInfo.station.station_status eq 0}
						未审核
						{elseif $stationInfo.station.station_status eq 1}
						审核通过
						{elseif $stationInfo.station.station_status eq 2}
						停用
						{elseif $stationInfo.station.station_status eq 3}
						审核未过
						{/if}
					</div>
					</li>
					</ul>
				</div>
			</div>
			<div class="panel" style="margin-top:20px;">
				<div class="panel-head"><a href="javascript:void(0);" class="cuttle"><strong>防疫站文字描述</strong></a> <small>(点击展开)</small></div>
				{if $adminInfo.admin_role eq 1}
				<div class="panel-body hidden">
				{elseif $adminInfo.admin_role eq 0}
				<div class="panel-body">
				{/if}
					{$stationInfo.station.station_description}
				</div>
			</div>
			{if $adminInfo.admin_role eq 1}
			<div class="panel" style="margin-top:20px;">
				<div class="panel-head"><a href="javascript:void(0);" class="cuttle" id="picDes" data-tog="{$stationInfo.station.id}"><strong>防疫站图片描述</strong></a> <small>(点击展开)</small></div>
				<div class="panel-body hidden">
					<ul class="piclist" id="picList"></ul>
				</div>
			</div>
			{/if}
			{if $adminInfo.admin_role eq 1}
			<div class="panel" style="margin-top:20px;">
				<div class="panel-head"><strong>疫苗情况</strong></div>
				<div class="panel-body">
					<table class="table table-hover">
						<tr>
							<th>疫苗编号</th>
							<th>疫苗名字</th>
							<th width="40%">疫苗描述</th>
							<th>剩余数量</th>
							<th>疫苗状态</th>
							<th>操作</th>
						</tr>
						{foreach from=$stationInfo.vero item=list}
						<tr>
							<td>{$list.vero_num}</td>
							<td>{$list.vero_name}</td>
							<td style="word-break:break-all">{$list.vero_instruction}</td>
							<td><span class="badge bg-main">{$list.vero_nums}</span></td>
							{if $list.vero_status eq 0}
							<td>未审核</td>
							<td>
								<a href="javascript:void(0);" title="通过" data-target="{$list.id}" data-toggle="pass" class="button button-small bg-main veroVerify">通过</a>
								<a href="javascript:void(0);" title="失败" data-target="{$list.id}" data-toggle="fail"  class="button button-small bg-red veroVerify">失败</a>
							</td>
							{elseif $list.vero_status eq 1}
							<td>正常使用</td>
							<td><a href="javascript:void(0);" title="失败" data-target="{$list.id}" data-toggle="fail"  class="button button-small bg-red veroVerify">失败</td>
							{elseif $list.vero_status eq 2}
							<td>停用</td>
							<td></td>
							{elseif $list.vero_status eq 3}
							<td>审核失败</td>
							<td><a href="javascript:void(0);" title="通过" data-target="{$list.id}" data-toggle="pass"  class="button button-small bg-main veroVerify">通过</a></td>
							{/if}
						</tr>
						{/foreach}
					</table>
				</div>
				<div class="panel-foot text-center">{$stationInfo.pager}</div>
			</div>
			{/if}
		</div>
		<div class="cover hidden">
			<div class="coverHeader">
				图片预览
				<span class="float-right button" onclick="closePic();">关闭</span>
			</div>
			<div class="coverImg">
				
			</div>
		</div>
		<script>
			$(function(){
				$('.cuttle').click(function(){
					var p=$(this).closest('.panel');
					var body=p.find('.panel-body');
					if(body.hasClass('hidden')){
						body.removeClass('hidden');
					}else{
						body.addClass('hidden');
					}
				});
				$('.pass').click(function(){

				});
				$('.fail').click(function(){

				});
				$('#picDes').click(function(){
					// <li>
					// 	<a href="javascript:void(0);" onclick="showBig();" title="点击放大">
					// 		<img src="{$rootUrl}/Uploads/GB1461681883/1461911855.jpg" alt="1">
					// 	</a>
					// 	</li>
					if($('#picList').html()!=""){
						return;
					}
					$('#picList').html('正在加载......');
					var html='';
					$.ajax({
						url:'{$rootUrl}/index.php?a=st&e=pic',
						data:'picid='+$(this).attr('data-tog'),
						type:'GET',
						dataType:'json',
						async:false,
						success:function(msg){
							piclist=msg.pic;
							for(var i=0,len=piclist.length;i<len;i++){
								html+='<li><a href="javascript:void(0);" class="dialogs" onclick="showBig(this);" data-toggle="click" data-target="#sortAdd" data-mask="1" data-width="50%" title="点击放大"><img src="{$rootUrl}/Uploads/'+piclist[i].picture_url+'" alt="1"></a></li>';
							}
						}
					})
					$('#picList').html("");
					$('#picList').html(html);
				});
			});
			function showBig(obj){
				//alert(obj.firstChild.src)
				$('.cover').removeClass('hidden');
				$('.coverImg').html('<img src="'+obj.firstChild.src+'">');
			}
			function closePic(){
				$('.cover').addClass('hidden');
			}
		</script>
	</body>
</html>