<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>{$title}</title>
		<link rel="stylesheet" href="{$rootUrl}/Public/pintuer.css">
		<link rel="stylesheet" href="{$rootUrl}/Public/admin.css">
		<script src="{$rootUrl}/Public/jquery.js"></script>
		<script src="{$rootUrl}/Public/pintuer.js"></script>
		<!--<script src="{$rootUrl}/Public/respond.js"></script>-->
		<script src="{$rootUrl}/Public/admin.js"></script>
	</head>

	<body>
{include file="head.html"}

		<div class="admin">
				<form>
				<div class="panel admin-panel">
					<div class="panel-head"><strong>疫苗列表</strong></div>
					<div class="padding border-bottom">
						<input type="button" class="button button-small border-green dialogs" data-toggle="click" data-target="#veroAdd" data-mask="1" data-width="50%" value="添加疫苗" />
					</div>
					<div class="panel-body">
						<table class="table table-hover">
						<tr>
							<th>选择</th>
							<th>疫苗编号</th>
							<th>疫苗名字</th>
							<th>疫苗描述</th>
							<th>疫苗状态</th>
							<th>操作</th>
						</tr>
						{foreach from=$stationInfo.vero item=list}
						<tr>
							<td><input type="checkbox" name="id" value="{$list.id}" /></td>
							<td>{$list.vero_num}</td>
							<td>{$list.vero_name}</td>
							<td>{$list.vero_instruction}</td>
							{if $list.vero_status eq 0}
							<td>未审核</td>
							<td>
								<a href="javascript:void(0);" title="停用" data-target="{$list.id}" data-toggle="stop" class="button button-small bg-red veroVerify">停用</a>
							</td>
							{elseif $list.vero_status eq 1}
							<td>正常使用</td>
							<td><a href="javascript:void(0);" title="停用" data-target="{$list.id}" data-toggle="stop" class="button button-small bg-red veroVerify">停用</a></td>
							{elseif $list.vero_status eq 2}
							<td>停用</td>
							<td><a href="javascript:void(0);" title="启用" data-target="{$list.id}" data-toggle="start" class="button button-small bg-red veroVerify">启用</a></td>
							{elseif $list.vero_status eq 3}
							<td>审核失败</td>
							<td><a href="javascript:void(0);" title="停用" data-target="{$list.id}" data-toggle="stop" class="button button-small bg-red veroVerify">停用</a></td>
							{/if}
						</tr>
						{/foreach}
					</table>
					</div>
					<div class="panel-foot text-center">
						{$stationInfo.pager}
					</div>
				</form>
				</div>
			<hr class="space">
		</div>
		<div id="veroAdd">
			<div class="dialog">
				<div class="dialog-head">
					<span class="close rotate-hover"></span><strong>添加疫苗</strong>
				</div>
				<div class="dialog-body">
					<form>
						<div class="form-group">
							<div class="label"><label for="">疫苗名称：</label></div>
							<div class="field"><input type="text" name="veroName" class="input" value=""></div>
						</div>
						<div class="form-group">
							<div class="label"><label for="">疫苗</label></div>
							<div class="field"><textarea name="description" class="input"></textarea></div>
						</div>
					</form>
				</div>
				<div class="dialog-foot">
					<button class="button dialog-close">
						取消</button>
					<button class="button bg-green veroSubmit" data-toggle="a">
						确认</button>
				</div>
			</div>
		</div>
	</body>

</html>