<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>{$title}</title>
		<link rel="stylesheet" href="{$rootUrl}/Public/pintuer.css">
		<link rel="stylesheet" href="{$rootUrl}/Public/admin.css">
		<script src="{$rootUrl}/Public/jquery.js"></script>
		<script src="{$rootUrl}/Public/pintuer.js"></script>
		<!--<script src="{$rootUrl}/Public/respond.js"></script>-->
		<script src="{$rootUrl}/Public/admin.js"></script>
	</head>

	<body>
{include file="head.html"}

		<div class="admin">
				<form>
				<div class="panel admin-panel">
					<div class="panel-head"><strong>内容列表</strong></div>
					<div class="padding border-bottom">
						<input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
						<input type="button" class="button button-small border-yellow userall" value="批量删除" />
						<a class="button button-small border-blue" href="{$rootUrl}/index.php?a=u&d={$tog[0]}">{$tog[1]}</a>
					</div>
					<table class="table table-hover">
						<tr>
							<th width="60">选择</th>
							<th width="120">用户名</th>
							<th width="120">手机号</th>
							<th width="200">接种记录</th>
							<th width="200">创建ip地址</th>
							<th width="200">创建时间</th>
							<th width="200">账号状态</th>
							<!-- <th width="100">操作</th> -->
						</tr>
						{foreach from=$list item=v}
						<tr>
							<td><input type="checkbox" name="id" value="{$v[0]}"></td>
							<td>{$v[1]}</td>
							<td>{$v[2]}</td>
							<td><a href="{$rootUrl}/index.php?a=o&phone={$v[2]}" title="接种记录" target="_blank"><span class="icon-external-link"></span></a></td>
							<td>{$v[4]}</td>
							<td>{$v[5]|date_format:'%Y-%m-%d'}</td>
							<!-- <td>
								<a class="button border-blue button-little" href="{$url}&i={$v[0]}">编辑</a>
								<a class="button border-yellow button-little userdel" data-target="{$v[0]}" href="javascript:void(0);">删除</a>
							</td> -->
							<td>
							{if $v[6] eq 0}
							启用
							{else}
							停用
							{/if}
							</td>
						</tr>
						{/foreach}
						
					</table>
					<div class="panel-foot text-center">
						{$pager}
					</div>
				</form>
				</div>
			<hr class="space">
		</div>
		
	</body>

</html>